/* Webpage */
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
/* entire body after header */
body {
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
}
/* covers all code falls under container div */
container div { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

container button {
    position: center;
}

main {
    flex: 1 0 auto;
}

/* hides these tags until the click event */
#Questions,
#Final-score,
#Highscores
{
    display: none;
}
